@using BanDienThoai.Models;
@model List<NhaCungCap>
@foreach (var item in Model)
{
    <a href="#" class="button button-submit">@item.TenNCC</a>
}
<a href="#" class="button button-submit">Xem thêm...</a>
@*<a href="#" class="button">This is a button</a>
<a href="#" class="button">This is a button</a>
<a href="#" class="button button-submit">This is a save button</a>*@