/*su dung full trang*/
div#ToanTrang{
    position:relative;
    font-family:'Segoe UI';
    font-weight:bold;
}
/*thiet ke cho dangkidangnhap*/
.DangKyDangNhap{
    float:right;
    margin-top:-1%;
}

.DangKyDangNhap a:hover {
    text-decoration:none;
    color:green;
    }
.icDienThoai{
    float:left;
    margin-top:-1%;
}
/*css cho phan header*/
#divDanhMuc{
    height:30px;
}
.navMenu{
    float:right;
    margin-right:10%;
}
.navMenu li{
        display:inline;
        border-right:solid 1px rgba(0,0,0,.1);
        padding:20px;
        padding-top:19px; 
        padding-bottom:22px;
       -webkit-transition:all .5s ease-out;
       -moz-transition:all .5s ease-out;
}
/*hover thay ddooir mau cham*/
.navMenu li:hover{
       background-color:rgba(0,0,0,.5);
       /*mau giam? dan*/
       -webkit-transition:all .5s ease-out;
       -moz-transition:all .5s ease-out;
}
.navMenu a:hover{
    text-decoration:none;
}
#txtTimKiem{
    float:left;
    margin-left:5%;
}
#txtTimKiem input{
    height:0px;
}
/*css button time kiem*/
#divImageSearch button{
    margin-right:-44px;
    height:32px;
    width:32px;
    padding:0 10px 0 10px;
}
#divImageSearch button:hover{
    background-color:orangered
    
}
#divImageSearch img{
    height:15px;
    width:15px; 
}
/*css cho nivo slider*/
#slider{
    float:right;
    width:900px;
    height:360px;
}
#slider img{
     width:900px;
    height:360px;
}
#divMenuTrai{
    float:left;
    height:360px;
}
#divLeft{
    width:100%;
    float:left;

}
#divRight{
    float:right;
}
